html, body{
    min-height:100%
}
.main-block{
    position:absolute;
    left:140px;
    width:1300px;
    height:773px;
}
.navigation_content{
    padding-top:20px;
}
.navigation{
    position:absolute;
    width:100%;
    font-size:20px;
}
.navigation_button_auth{
    margin-top:10px;
    width:80px;
    height:35px;
    border:1px solid black;
    border-radius:5px;
    background:white;
}
.navigation_button_auth:hover{
    background:gray;
    color:white;
}
.navigation_button_reg:hover{
    background:gray;
    color:white; 
}
.navigation_button_reg{
    margin-top:10px;
    width:100px;
    height:35px;
    border:1px solid black;
    border-radius:5px;
    background:white;
}
.navigation_button{
    position:absolute;
    right:50px;
    top:0px;
}
.info-block_info1{
    position:absolute;
    width:300px;
    top:150px;
    height:100px;
    font-size:18px;
}
.info-block_info2{
    position:absolute;
    width:300px;
    height:100px;
    top:150px;
    font-size:18px;
    left:350px;
}
.info-block_info3{
    position:absolute;
    width:300px;
    height:100px;
    font-size:19px;
    top:400px;
}
.info-block_info4{
    position:absolute;
    width:300px;
    height:100px;
    font-size:18px;
    left:350px;
    top:400px;
}
.form-block{
    position:absolute;
    width:550px;
    height:550px;
    top:150px;
    right:50px;
    border:1px solid #EAEAEA;
    border-radius:2px;
}
.form-block_welcomeinfo{
    position:absolute;
    font-size:30px;
    top:40px;
    left:40px;
}
.form_email{
    position:absolute;
    top:120px;
    left:40px;
}
.form_email2{
    position:absolute;
    top:140px;
    left:40px;
}
.form_emailS{
    position:absolute;
    top:120px;
    left:40px;
}
.form_email2S{
    position:absolute;
    top:140px;
    left:40px;
}
.form_name{
    position:absolute;
    top:180px;
    left:40px;
}

.form_name2{
    position:absolute;
    top:200px;
    left:40px;
    width:400px;
}

.form_password{
    position:absolute;
    top:240px;
    left:40px;
}
.forget{
    position:absolute;
    top:270px;
    right:50px;
}

.form_password2{
    position:absolute;
    top:260px;
    left:40px;
}

.form_passwordS{
    position:absolute;
    top:180px;
    left:40px;
}

.form_password2S{
    position:absolute;
    top:200px;
    left:40px;
}
.form_submit{
    position:absolute;
    top:300px;
    left:40px;
}
.form_submit1{
    position:absolute;
    top:340px;
    left:40px;
}
.form_extratext{
    position:absolute;
    top:340px;
    left:40px; 
    width:500px; 
}
.form_nameinput{
    width:470px;
    height:30px;
    padding-left:20px;
    background: #FFFFFF;
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 5px;
}
.form_submitbutton{
    width:470px;
    height:30px;
    background:#4285F4;
    border: 0px solid gray;
    box-sizing: border-box;
    border-radius: 5px;
    color:white;
}
.form_icons_facebook{
    position: absolute;
    width: 150px;
    height: 40px;
    left:200px;
    top:400px;
    background: white;
    border:1px solid gray;
    border-radius:3px;
}
.form_icons_github{
    position: absolute;
    width: 150px;
    height: 40px;
    left:40px;
    top:400px;
    background: white;
    border:1px solid gray;
    border-radius:3px;
}
.form_icons_linkedin{
    position: absolute;
    width: 150px;
    height: 40px;
    left:360px;
    top:400px;
    background: white;
    border:1px solid gray;
    border-radius:3px;
}
.form_icons_facebook-icon{
    position:absolute;
    left:60px;
    top:4px;
}
.form_icons_linkedin-icon{
    position:absolute;
    left:60px;
    top:4px;
}
.form_icons_github-icon{
    position:absolute;
    left:60px;
    top:4px;
}
.form_footer{
    position:absolute;
    width:550px;
    height:80px;
    bottom:0px;
    background:#EAEAEA;
}
.footer_information{
    position:absolute;
    left:200px;
    bottom:40px;
}
.footerin_formationS{
    position:absolute;
    left:150px;
    bottom:40px;
}
a{
    color:black;  
}
a:hover{
    color:black;
}
.fasta{
 color:gray;
}
.fas{
    color:green;
}
.error{
    border-color:red;
}
#form-block_footer{
    position:absolute;
    right:50px;
    top:10px;
    overflow:hidden;
}
.wave{
    position:relative;
    width:100px;
    height:100px;
    border:1px solid #EAEAEA;
    margin:0 auto;
    border-radius:200px;
    overflow:hidden;
    right:0;
    bottom:0;
}
.wave-one{
    background: url('../images/firstwave.png') repeat-x;
    width:7000px;
    height:300px;
    animation:waves 15s infinite linear;
    position:absolute;
    bottom:0;
}
@keyframes waves{
    0%{
        margin-left:0;
    }
    100%{
        margin-left:-1440px;
    }
}

.navigation_animatedtext_animatedtextforlogin{
    visibility: hidden;
    position:absolute;
    padding-left:5px;
    width:100px;
    height:35px;
    border:1px solid #BCBCBC;
    border-radius:5px;
    font-size:13px;
    top:10px;
    right:250px;
    color:black;
    background:#A6FBCE;
    animation: fadeInS 5s infinite;
}
.navigation_animatedtext_animatedtextforreg{
    visibility: hidden;
    position:absolute;
    padding-left:5px;
    width:100px;
    height:35px;
    border:1px solid #BCBCBC;
    border-radius:5px;
    font-size:13px;
    top:10px;
    right:250px;
    color:black;
    background:#A6FBCE;
    animation: fadeIn 5s infinite;
}

